[submodule "programs/evm/lib/openzeppelin-contracts-upgradeable"]
	path = programs/evm/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "programs/evm/lib/openzeppelin-contracts"]
	path = programs/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
